<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BasicJavaWebApplication</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param> 
    <description>Location to store uploaded file</description> 
    <param-name>file-upload</param-name> 
    <param-value>
         F:\Work\Eclipse\BasicJavaWebApplication\WebContent\images
     </param-value> 
  </context-param>
  
  <servlet>
    <servlet-name>upload</servlet-name>
    <servlet-class>servlets.UploadPicture</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>homepage</servlet-name>
    <servlet-class>servlets.ShowHomePage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>display</servlet-name>
    <servlet-class>servlets.DisplayPicture</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>upload</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>homepage</servlet-name>
    <url-pattern>/homepage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>display</servlet-name>
    <url-pattern>/display</url-pattern>
  </servlet-mapping>
  
</web-app>